@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

div.hero {
	background: url('../static/bg_l.jpg');
	background-position: center;
	background-size: cover;
	header {
		padding-bottom: rem-calc(20);
		padding-top: rem-calc(20);
	}
	.tagline {
		padding-bottom: rem-calc(20);
	}
}

section.projects, div.hero {
	padding: rem-calc(30) 0;
}

.social a .fa {
		color: #fff;
		font-size: 2.2rem;
}

body > .social {
	/*padding-top:1.875rem;*/
	background-color: #66D9EF;
	border-bottom: 0.32rem solid #4fa9ba;
	padding: 0.8rem 0 0 0;
}

body > .social [class*="block-grid-"]>li {
	//padding-bottom: 0.8rem;
}